<?xml version="1.0" encoding="UTF-8" ?>
    
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.frame7.sample"
        versionCode = "1" 
        version     = "1.0.0" >
        <name>Sample Frame7 App</name>
        <description>
            A simple application for guessing a number game.
        </description>
        <author email="elvin.casem@gmail.com" href="http://evenlyten.com">
            Evenly Ten Web Solutions
        </author>
        <content src="index.html" />
        <access origin="*" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="mdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="hdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="xhdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
    </widget>
